*{
    box-sizing: border-box;
    border: 2px solid cornflowerblue; 
}

body{
    margin:0;
    padding: 0;
    height: 100vh;
    margin-left: 200px;
    margin-right: 200px;
    
}

.content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.one, .two, .three, .four, .five, .six, .box-section{
    display: flex;  
}

.logo, .nav-links{
    display: flex;
}

.one{
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    gap: 30px;
}

.six{
    justify-content: center;
    align-items: center;
    
}
.article{
    flex: 1;
}
.two-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.two-right{
    display: flex;
    flex: 1;
    justify-content: center;
}
.image{
    width: 500px;
    margin: 100px;
}
.three{
    flex-direction: column;
}



